# Backup and temporary files.
*~
.*sw?
\#*
.DS_Store

# Build-generated stuff.
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build.log
build_2.log
config.log
config.status
config/
configure
cppunit-config
cppunit.pc
cppunit.spec
doc/Doxyfile
examples/cppunittest/cppunittestmain
examples/hierarchy/hierarchy
examples/money/MoneyApp
examples/simple/simple
include/cppunit/config-auto.h
libtool
src/DllPlugInTester/DllPlugInTester
src/DllPlugInTester/DllPlugInTesterTest

# Compiled files.
*.o
*.lo
*.la
*.deps/
*.libs/


